<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
     <context:annotation-config/>
	<bean id="core_java" class="com.codeplanet.beans.Course" >
		<property name="cid" value="Core-789"/>
		<property name="cname" value="Core Java"/>
		<property name="ccost" value="5000/-"/>
	</bean>
	<bean id="adv_java" class="com.codeplanet.beans.Course" >
		<property name="cid" value="Core-789"/>
		<property name="cname" value="Core Java"/>
		<property name="ccost" value="5000/-"/>
	</bean>
	
	<bean id="student" class="com.codeplanet.beans.Student">
		<property name="sid" value="M-369"/>
		<property name="sname" value="Mo Abjal"/>
		<property name="saddr" value="Bareilly, UP India"/>
		
	</bean>

</beans>